maxTokenCount = 100

tokenFile = ./Tokens/tokens.txt

uidFile = ./config/uid
uidPosFile = ./data/files/uidPos
midFile = ./data/files/mid
midPosFile = ./data/files/midPos
expiredFile = ./data/files/expired

fileDir = ./data/files/
logDir = ./data/logs/
userMidDir = ./data/mid/user/
repostMidDir = ./data/mid/repost/
statusDir = ./data/status/